.tborder {
	FONT-SIZE: 9pt
}
.tTitle1 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #b0c1d9; TEXT-ALIGN: center
}
.tTitle2 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dcdcdc
}
.total {
	BORDER-TOP: #dcdcdc 1px solid
}
.ttable {
	FONT-SIZE: 9pt; BORDER-COLLAPSE: collapse
}
A {
	COLOR: darkblue
}
A:active {
	COLOR: #cc7700; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc7700; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 18px
}
BODY {
	FONT-SIZE: 9pt; LINE-HEIGHT: 18px
}
INPUT {
	FONT-SIZE: 9pt
}
SELECT {
	FONT-SIZE: 9pt
}
OPTION {
	FONT-SIZE: 9pt
}
.nTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt
}
.90v {
	FONT-SIZE: 9pt
}
.table-field {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: black 1px solid; CLIP: rect(auto auto auto auto); PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; TOP: 5px; BACKGROUND-COLOR: #eeeeee
}
