#hdbar {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 780px
}
#hdnav {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 780px
}
#hdsch {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 780px
}
#foot {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 780px
}
.con {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 780px
}
#hdbar {
	BACKGROUND: #f0f0f0; LINE-HEIGHT: 25px; HEIGHT: 25px
}
#hdbar .hdbarl {
	FLOAT: left; MARGIN-LEFT: 0.6em
}
#hdbar .hdbarr {
	FONT-SIZE: 12px; FLOAT: right; MARGIN-RIGHT: 0.6em; FONT-FAMILY: Arial
}
#hdnav {
	MARGIN-TOP: 10px
}
#hdnav A {
	COLOR: #000
}
#hdnav #hdnavli {
	MARGIN: 0px auto; WIDTH: 700px; HEIGHT: 65px
}
#hdnav #hdnavli UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#hdnav #hdnavli .ylogo {
	MARGIN-TOP: 0px; WIDTH: 243px; HEIGHT: 65px
}
#hdnav #hdnavli LI {
	FLOAT: left; MARGIN: 5px 0px 0px; WIDTH: 75px; LIST-STYLE-TYPE: none; HEIGHT: 57px
}
#hdnav #hdnavli LI A {
	LINE-HEIGHT: 16px
}
#hdnav #hdnavli LI IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-BOTTOM: 5px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#hdsch {
	MARGIN-TOP: 0px
}
#hdsch UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6em; PADDING-TOP: 0px
}
#hdsch LI {
	PADDING-LEFT: 5px; FLOAT: left; LINE-HEIGHT: 23px; LIST-STYLE-TYPE: none
}
#hdsch LI A {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 50px; COLOR: #fff; PADDING-TOP: 4px
}
#hdsch .sel {
	WIDTH: 60px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
#hdsch .pad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 2px; PADDING-TOP: 2px
}
#hdsch .cur {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_tabcur.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 59px; COLOR: #039; LINE-HEIGHT: 26px; PADDING-TOP: 2px
}
#hdsch .tab {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_tabm.gif) repeat-x; HEIGHT: 28px
}
#hdsch .tabl {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_tabl.gif) no-repeat; FLOAT: left; WIDTH: 2px; HEIGHT: 28px
}
#hdsch .tabm {
	FLOAT: left; WIDTH: 777px; COLOR: #fff; HEIGHT: 28px
}
#hdsch .tabm .r {
	MARGIN: 7px 20px 0px 0px; LINE-HEIGHT: 20px
}
#hdsch .tabm .r A {
	COLOR: #fff
}
#hdsch .tabr {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_tabr.gif) no-repeat; FLOAT: right; WIDTH: 1px; HEIGHT: 28px
}
#hdsch .box {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_boxm.gif) repeat-x; HEIGHT: 57px
}
#hdsch .boxl {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_boxl.gif) no-repeat; FLOAT: left; WIDTH: 2px; HEIGHT: 57px
}
#hdsch .boxm {
	FLOAT: left; WIDTH: 777px; COLOR: #fff; LINE-HEIGHT: 28px; HEIGHT: 57px; TEXT-ALIGN: center
}
#hdsch .boxr {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_boxr.gif) no-repeat; FLOAT: right; WIDTH: 1px; HEIGHT: 57px
}
#hdsch .bt {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_btm.gif) repeat-x; HEIGHT: 9px
}
#hdsch .btl {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_btl.gif) no-repeat; FLOAT: left; WIDTH: 7px; HEIGHT: 9px
}
#hdsch .btr {
	BACKGROUND: url(http://cn.yimg.com/i/cn06/hd/pg_btr.gif) no-repeat; FLOAT: right; WIDTH: 7px; HEIGHT: 9px
}
#hdsch .inputbox {
	MARGIN: 18px auto 0px 80px; HEIGHT: 35px
}
#hdsch .inputboxl {
	FLOAT: left; TEXT-ALIGN: left
}
#hdsch .inputboxl .alt {
	COLOR: #666; LINE-HEIGHT: 22px
}
#hdsch .inputboxm {
	FLOAT: left; MARGIN: 0px 0px 0px 3px
}
#hdsch .inputboxr {
	FLOAT: left; MARGIN: 0px 0px 0px 22px; LINE-HEIGHT: 16px; TEXT-ALIGN: left
}
#hdsch .inputboxr A {
	COLOR: #0066cb; LINE-HEIGHT: 16px
}
#foot {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6; PADDING-TOP: 0.8em; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
#foot A {
	FONT-FAMILY: Arial,
}
.mt5 {
	MARGIN-TOP: 5px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt12 {
	MARGIN-TOP: 12px
}
.pd8 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.pd10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
