.title {
	FONT-WEIGHT: bold; FONT-SIZE: medium
}
.titleline {
	BACKGROUND: #000000
}
.label {
	font-face: verdana
}
.yfnc_personal {
	BACKGROUND: #dcdcdc
}
.yfnc_unlinked {
	COLOR: #666666
}
.yfnc_modtitle1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.yfnc_promooutline1 {
	BORDER-RIGHT: #b0c1d9 1px solid; BORDER-TOP: #b0c1d9 1px solid; MARGIN: 0px; BORDER-LEFT: #b0c1d9 1px solid; BORDER-BOTTOM: #b0c1d9 1px solid
}
.label {
	BACKGROUND: #ffffff
}
.yfnc_tableheadcur1 {
	BACKGROUND: #ffffff
}
.yfnc_tabledata1 {
	BACKGROUND: #ffffff
}
.yfnc_notefill1 {
	BACKGROUND: #ffffff
}
.yfnc_toolboxfillhrb1 {
	BACKGROUND: #ffffff
}
.yfnc_i {
	BACKGROUND: #ffffff
}
.yfnc_datamoddata1 {
	BACKGROUND: #ffffff
}
.yfnc_promofill1 {
	BACKGROUND: #ffffff
}
.yfnc_datamoddata2 {
	BACKGROUND: #ffffff
}
.yfnc_tabledata2 {
	BACKGROUND: #ffffff
}
.yfnc_datamoddata3 {
	BACKGROUND: #ffffff
}
.yfnc_tabledata3 {
	BACKGROUND: #ffffff
}
.yfnc_1a {
	BACKGROUND: #284268
}
.yfnc_systitlelinea1 {
	BACKGROUND: #284268
}
.yfnc_1b {
	BACKGROUND: #556f93; COLOR: #ffffff
}
.yfnc_systitle1 {
	BACKGROUND: #556f93; COLOR: #ffffff
}
.yfnc_1c {
	BACKGROUND: #89a1c2
}
.yfnc_systitlelineb1 {
	BACKGROUND: #89a1c2
}
.yfncNavItem {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.yfncNavTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.yfncAttr {
	COLOR: #808080
}
.yfncAdLink {
	FONT-SIZE: 11px; COLOR: #556f93
}
.yfnc_1d {
	BACKGROUND: #c4d1e3
}
.yfnc_horiz1 {
	BACKGROUND: #c4d1e3
}
.yfnc_1e {
	BACKGROUND: #f0f3f7
}
.yfnc_leftnavold {
	BACKGROUND: #f0f3f7
}
.yfnc_1f {
	BACKGROUND: #b0c1d9
}
.yfnc_modtitle1 {
	BACKGROUND: #b0c1d9
}
.yfnc_formout1 {
	BACKGROUND: #b0c1d9
}
.yfnc_toolboxout1 {
	BACKGROUND: #b0c1d9
}
.yfnc_leftnav1 {
	BACKGROUND: #e2ecf9
}
.yfnc_toolboxfilla1 {
	BACKGROUND: #e2ecf9
}
.yfnc_gutter {
	BACKGROUND: #999999
}
.yfnc_b {
	BACKGROUND: #999999
}
.yfnc_brokerbar {
	BACKGROUND: #eeeeee
}
.yfnc_datamodlabel1 {
	BACKGROUND: #eeeeee
}
.yfnc_formbody1 {
	BACKGROUND: #eeeeee
}
.yfnc_tablehead1 {
	BACKGROUND: #eeeeee
}
.yfnc_toolboxfillb1 {
	BACKGROUND: #eeeeee
}
.yfnc_e {
	BACKGROUND: #eeeeee
}
.yfnc_modsubtitle1 {
	BACKGROUND: #cccccc
}
.yfnc_c {
	BACKGROUND: #cccccc
}
.yfnc_datamodtitle1 {
	BACKGROUND: #dcdcdc
}
.yfnc_datamodoutline1 {
	BACKGROUND: #dcdcdc
}
.yfnc_modulehr1 {
	BACKGROUND: #dcdcdc
}
.yfnc_tableout1 {
	BACKGROUND: #dcdcdc
}
.yfnc_noteoutline1 {
	BACKGROUND: #dcdcdc
}
.yfnc_toolboxfillhra1 {
	BACKGROUND: #dcdcdc
}
.yfnc_modsubtitle2 {
	BACKGROUND: #dcdcdc
}
.yfnc_modsubtitle3 {
	BACKGROUND: #dcdcdc
}
.yfnc_datamodoutline3 {
	BACKGROUND: #dcdcdc
}
.yfnc_tableout3 {
	BACKGROUND: #dcdcdc
}
.yfnc_d {
	BACKGROUND: #dcdcdc
}
.yfnc_2a {
	BACKGROUND: #333300
}
.yfnc_systitlelinea2 {
	BACKGROUND: #333300
}
.yfnc_2b {
	BACKGROUND: #848451; COLOR: #ffffff
}
.yfnc_systitle2 {
	BACKGROUND: #848451; COLOR: #ffffff
}
.yfnc_2c {
	BACKGROUND: #b5b58d
}
.yfnc_systitlelineb2 {
	BACKGROUND: #b5b58d
}
.yfnc_2d {
	BACKGROUND: #dadabf
}
.yfnc_horiz2 {
	BACKGROUND: #dadabf
}
.yfnc_datamodoutline2 {
	BACKGROUND: #dadabf
}
.yfnc_modulehr2 {
	BACKGROUND: #dadabf
}
.yfnc_tableout2 {
	BACKGROUND: #dadabf
}
.yfnc_2e {
	BACKGROUND: #f0f0e4
}
.yfnc_datamodlabel2 {
	BACKGROUND: #f0f0e4
}
.yfnc_formbody2 {
	BACKGROUND: #f0f0e4
}
.yfnc_tablehead2 {
	BACKGROUND: #f0f0e4
}
.yfnc_2f {
	BACKGROUND: #c8c7a7
}
.yfnc_modtitle2 {
	BACKGROUND: #c8c7a7
}
.yfnc_datamodtitle2 {
	BACKGROUND: #c8c7a7
}
.yfnc_formout2 {
	BACKGROUND: #c8c7a7
}
.yfnc_3a {
	BACKGROUND: #003300
}
.yfnc_systitlelinea3 {
	BACKGROUND: #003300
}
.yfnc_3b {
	BACKGROUND: #546c6c; COLOR: #ffffff
}
.yfnc_systitle3 {
	BACKGROUND: #546c6c; COLOR: #ffffff
}
.yfnc_3c {
	BACKGROUND: #718f8f
}
.yfnc_systitlelineb3 {
	BACKGROUND: #718f8f
}
.yfnc_3d {
	BACKGROUND: #b0c3c3
}
.yfnc_horiz3 {
	BACKGROUND: #b0c3c3
}
.yfnc_modulehr3 {
	BACKGROUND: #b0c3c3
}
.yfnc_3e {
	BACKGROUND: #e3e7df
}
.yfnc_datamodlabel3 {
	BACKGROUND: #e3e7df
}
.yfnc_formbody3 {
	BACKGROUND: #e3e7df
}
.yfnc_tablehead3 {
	BACKGROUND: #e3e7df
}
.yfnc_3f {
	BACKGROUND: #a4b9b9
}
.yfnc_modtitle3 {
	BACKGROUND: #a4b9b9
}
.yfnc_datamodtitle3 {
	BACKGROUND: #a4b9b9
}
.yfnc_tableheadcur3 {
	BACKGROUND: #ffffee
}
.yfnc_formout3 {
	BACKGROUND: #8ca2a2
}
.yfnc_a {
	BACKGROUND: #666666
}
.yfnc_f {
	BACKGROUND: #cc6600
}
.yfnc_g {
	BACKGROUND: #cccc99
}
.yfnc_h {
	BACKGROUND: #ffffdd
}
